<head>
        <link rel="stylesheet" href="/public/css/shop-styles.css"/>
</head>
<main>
    <div class="section">
        <h1 class="Shop">Your Cart</h1>
        <br>
        {{#if isEmpty}}
            <p class="emptyText">Your cart is empty! :(</p>
        {{else}}
            <span class="cart">
                {{#each cart}}
                <div class="cartProd">
                    
                    <img class="cartIMG" src={{this.product.image}}>
                    <span class="cartProdInfo">
                        <a href="/shop/{{this.product._id}}" ><h2 class="prodTitle">{{this.product.name}}</h2></a>
                        <p class="cartPrice" cost={{this.product.actualPrice}} amt={{this.quantity}}>${{this.product.actualPrice}}</p>
                        <span class="extraInfo">
                            <p class="quantity">Quantity: {{this.quantity}}</p>
                            <a class="quantity" href="/cart/delete/{{this.pos}}">Delete</a>
                        </span>
                    </span>
                </div>
                {{/each}}
            </span>
            <hr width="75%">
            <h2 id="total">Total: -</h2>
        {{/if}}
        
    </div>
    <div class="section">
        <h1>Similar Products</h1>
        
        <a href="/shop/viewall/trending" class="viewLink"><p>View All →</p></a>
        <br>
        <span class="prod">
            {{#each products}}
            <div class="product">
                <a href="/shop/{{this._id}}" >
                <img class="productIMG" src={{this.image}}>
                <span class="info">
                    <p class="prodTitle">{{this.name}}</p>
                    <span class="ratingInfo">
                        <img class="star" src="/public/media/Star.png">
                        <p class="rating" reviews={{this.reviews}}>5</p>
                        
                    </span>
                </span>
                <span class="info">
                    <p class="price">${{this.actualPrice}}</p>
                    <img class="bag" src="/public/media/Bag.png">
                </span>
                </a>
            </div>
            {{/each}}
        </span>    
    </div>
    <div class="section">
        <h1>Recently Viewed</h1>
        <a href="/shop/viewall/recent" class="viewLink"><p>View All →</p></a>
        <br>
        <span class="prod">
            {{#each products}}
            <div class="product">
                <a href="/shop/{{this._id}}" >
                <img class="productIMG" src={{this.image}}>
                <span class="info">
                    <p class="prodTitle">{{this.name}}</p>
                    <span class="ratingInfo">
                        <img class="star" src="/public/media/Star.png">
                        <p class="rating" reviews={{this.reviews}}>5</p>
                        
                    </span>
                </span>
                <span class="info">
                    <p class="price">${{this.actualPrice}}</p>
                    <img class="bag" src="/public/media/Bag.png">
                </span>
                </a>
            </div>
            {{/each}}
        </span>
    </div>
    <script src="/public/js/productReviews.js"></script>
    <script src="/public/js/cart.js"></script>
</main>