<main>
    <head>
        <link rel="stylesheet" href="/public/css/clinic-style.css"/>
    </head>
        <br></br>
        <img src={{clinic.image}}>
        <br></br>
        <span>{{clinic.name}} </span>
        <span>{{clinic.avgRating}}</span>
        <span>({{clinic.ratingCount}} Reviews)</span>
        <span>{{clinic.price}}</span>
        <br></br>
        <span>{{clinic.address}}</span>
        <br></br>
        <div>
            About
            <p>{{clinic.description}}</p>
        </div>
        <div>
            Schedule Your Appointment
            <form method=POST action=/clinic> <!--I would think we do a POST request to the clinic id route? not sure-->
                  <input type=date name=datebox id=datebox>
                  <label for=datebox>Date</label>
                  <br>
                  <input type=time name=timebox id=timebox>
                  <label for=timebox>Time</label>
                  <br>
                  Payment Method Placeholder <!--some kind of stripe thing here? beats me-->
                  <br>
            <form>
        </div>
        <br></br>
        <p>Clinic Location</p>
        <div>
            Map Placeholder
        </div>
        <div>
            <p>{{clinic.name}}</p>
            <p>{{clinic.address}}</p>
        </div>
        <br></br>
        <span>Patient Reviews</span>
        <span>GIVE A REVIEW -></span>
        <br></br>
        <span>{{clinic.avgRating}}</span>
        <span>Overall Rating ({{clinc.ratingCount}} Reviews)</span>
</main>
