<main class="feed">
    <head>
        <link rel="stylesheet" href="/public/css/clinic-styles.css"/>
    </head>
        <br></br>
        <div class="clinics">
            {{#each clinics}}
                <div class="clinic" onclick="location.href='/clinics/id/{{this._id}}';" style="cursor: pointer;">
                    {{math @index "+" 1}}. {{this.name}}
                    <br></br>
                    <div class="clinic-info">
                        <p>{{this.avgRating}}</p>
                        <p>{{this.address}}</p>
                    </div>
                    <div class="container">
                        <img src={{this.image}}>
                    </div>
                </div>
            {{/each}}
        </div>
</main>