<main>
   <script>
    window.addEventListener('load', function() {
      document.getElementById('emailAddressInput').value = "{{{email}}}";
      document.getElementById('firstNameInput').value = "{{{firstName}}}"
      document.getElementById('lastNameInput').value = "{{{lastName}}}"
      document.getElementById('mobileInput').value = "{{{mobile}}}"
      document.getElementById('bioInput').value = "{{{bio}}}"
      document.getElementById("countryCodeInput").value = "{{{countryCode}}}"

    });
  </script>
    <form method="POST" id="edit-profile" class="centered" enctype="multipart/form-data">
    <h2>Edit Profile</h2>
   <br>

    <div class="reg-parent">
        <div class="reg-center">
           <label for="emailAddressInput">
                Edit Email
                <input type="email" name="emailAddressInput" id="emailAddressInput" placeholder="Enter email address">
            </label>
            <label for="userImage">User Image (optional):</label>
            <input type="file" id="userImage" name="userImage"><br>
            <label for="firstNameInput">
                First Name
                <input type="firstName" name="firstNameInput" id="firstNameInput" placeholder="Enter first name">
            </label>
            
            <label for="lastNameInput">
                Last Name
                <input type="lastName" name="lastNameInput" id="lastNameInput" placeholder="Enter last name">
            </label>
            
            <label for="countryCodeInput">
                Country Code
            +<input type="countryCode" name="countryCodeInput" id="countryCodeInput" placeholder="Enter country code">
            </label>
            <label for="mobileInput">
                Phone Number
                <input type="mobile" name="mobileInput" id="mobileInput" placeholder="Enter phone number">
            </label>
            <label for="bioInput">
                Bio
                <input type="bio" name="bioInput" id="bioInput" placeholder="Enter bio">
            </label>
           <!-- <label for="ownerInput">
                Owner Status
                <select name="ownerInput" id="ownerInput">
                    <option value="n/a">Select option</option>
                    <option value="true">Yes, I plan on listing courts that I own</option>
                    <option value="false">No, I do not own any courts/plan on listing them</option>
                </select>
            </label>-->
        </div>
    </div>

        <div id="error-div" class="centered"></div>
        <div id="errors">{{bad}}</div>

        <button type="submit" class="btn">Submit</button>
        <br>
    </form>
    
</main>