<h1 id="avail-title">{{title}}</h1>
<main>
    <head>
        <link rel="stylesheet" href="/public/css/feed.css"/>
    </head>
    <div class="parent">
      <div class="child2" id="feed">
        {{#each posts}}
          <div class="post-card">
            <h2>{{this.title}}</h2>
            {{#if this.isImage}}
            <div id="media">
               <img alt="{{this.title}}" width="200" height="200" src={{this.media}} id="image">
            </div>
            {{else}}
            <div id="media">
            <video width="200" height="200" id="video"controls>
                <source src={{this.media}}>
                Your browser does not support the video tag.
            </video>
            </div>
            {{/if}}
            <p>{{this.insertDate}}</p>
            <a href="/feed/id/{{this._id}}">Click for Details</a>
          </div>
        {{/each}}
      </div>
    </div>
</main>