<head>
        <link rel="stylesheet" href="/public/css/product-styles.css"/>
</head>
<main>
    <div class="product">
        <span class="prod">
        <br>
        <span class="imgCol">
            <img class = "prodIMG" src={{product.image}} />
            <span  class="imgGal">
                {{#each product.images}}
                    <img class="galIMG" src={{this}} >     
                {{/each}}
            </span>
            <span class="revBox">
                <h1>Reviews</h1>
                <a class="link" href="/">GIVE A REVIEW →</a> <!--TODO REVIEW STUFF-->
            </span>
        </span>
        <span class="infoCol">
            <h2>{{product.name}}</h2>
            <span class="ratingInfo">
                <img class="star" src="/public/media/Star.png">
                <p class="rating">5</p>
            </span>
            <p class="price">${{product.actualPrice}}</p>
            <form>
                <span class="quantity">
                    <label class="important" for="num">Quantity</label>
                    <span class="quantityIn">
                        <button id="down" type="menu">-</button>
                        <input type="text" id="num" name="num" value="1">
                        <button id="up" type="menu">+</button>
                    </span>
                </span>
                <br>
                <button id="ATC" type="submit">Add to Cart</button>
            </form>
            <a class="link" href="/">Save to Wish List</a> <!-- TODO: Add Link to save to wishlist once implemented -->
            <p class="important">Description</p>
            <p>{{product.description}}</p>
        </span>
        
    </span>
        <span class="reviews">
            <span class="review1">
                
            </span>
            <span class="review2">
                
            </span>
        </span>
        <span class="readMore">
            <button id="RM">Read More</button>
        </span>
        <span class="similarProds">
            <h1>Similar Products</h1>
            <a href="/shop/viewall/similarto/{{product._id}}" class="link"><p>View All →</p></a>
        </span>
        <span class="simProd">
            {{#each products}}
            <div class="simProduct">
                <a href="/shop/{{this._id}}" >
                <img class="productIMG" src={{this.image}}>
                <span class="info">
                    <p class="prodTitle">{{this.name}}</p>
                    <span class="simRatingInfo">
                        <img class="simStar" src="/public/media/Star.png">
                        <p class="simRating">5</p>
                    </span>
                </span>
                <span class="info">
                    <p class="price">${{this.actualPrice}}</p>
                    <img class="bag" src="/public/media/Bag.png">
                </span>
                </a>
            </div>
            {{/each}}
        </span>
    
    </div>
    <script src="../public/js/products.js"></script>
    
</main>